*::before, *::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, ol{
  list-style-type: none;
 padding-left: 0;
 margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
  margin-bottom: 0;
  padding-top: 0;
}
img{
  display: block;
}
button{
  cursor: pointer;
  font-family: inherit;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header{
  border-bottom: 1px solid #e7e9fc;
}
.header .container{
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 1440px;
  height: 72px;
}
.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
  .navigation{
    display: flex;
    padding 24px 0;
    align-items: center;
  }

.menu_nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.menu_nav:hover,
.menu_nav:focus {
  color: #404bbf;
}
.nav_list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.nav_contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: #434455;
}
.address {
  font-style: normal;
}
.address_list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.nav_contact:hover,
.nav_contact:focus {
  color: #404bbf;
}
.main_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.section_main {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section_button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
 display: block;
 min-width: 169px;
 height: 56px;
 border: none;
 border-radius: 4px;
 margin: 0 auto;
}
.section_button:hover,
.section_button:focus {
  background-color: #404bbf;
}
/* section 2 */
.second_section{
  padding: 120px 0;
}
.invisible{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.desc_features{
  max-width: calc((100%-3*24)/4);
}
.desc_list {
  display: flex;
  gap: 24px;
  margin-top: 120px;
  align-items: center;
}

.section_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #F4F4FD
  list-style-type: none;
  margin-bottom: 8px;
}
.section_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* section 3 */
.section_team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize; 
  margin-bottom: 72px;
}
.photo {
  background-color: #ffffff;
  max-width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.member_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.member_list{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team_container{
  padding: 32px 0;
}
.member_list .member_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  list-style-type: none;
}
/* section 4 */
.section_portfolio {
  padding: 120px 0;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.image {
  background-color: #ffffff;
  width: calc((100%-48) / 3);

  .portfolio_container{
    padding: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

}
.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio_list {
  background-color: #FFFFFF;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 1020px;
  padding-left: 0;
}
.footer_web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}
.footer_studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 1440px;
}
