*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.menu_nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_nav.current {
  position: relative;
  color: #404bbf;
}

.menu_nav.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.menu_nav:hover,
.menu_nav:focus {
  color: #404bbf;
}
.nav_list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.nav_contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}
.address_list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.nav_contact:hover,
.nav_contact:focus {
  color: #404bbf;
}
.main_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.section_main {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.section_button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section_button:hover,
.section_button:focus {
  background-color: #404bbf;
}
/* section 2 */
.second_section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.desc_features {
  width: calc((100% - 3 * 24px) / 4);
}
.desc_list {
  display: flex;
  gap: 24px;
}

.desc_features_border {
  display: flex;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 24px 100px;
  justify-content: center;
  align-items: center;
}

.section_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
  margin-bottom: 8px;
}
.section_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 3 */
.section_team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.photo {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.member_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.member_list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team_container {
  padding: 32px 0;
}
.member_list .member_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  list-style-type: none;
}

.photo_icons {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo_icons:hover,
.photo_icons:focus {
  background-color: #404bbf;
}
.photo_ul {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  gap: 24px;
}

.photo_li {
  display: flex;
  align-items: center;
}

/* section 4 */
.section_portfolio {
  padding: 120px 0;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio_list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  cursor: pointer;
}

.image {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.cover_relative {
  position: relative;
  overflow: hidden;
}

.portfolio_text_cover {
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image:hover .portfolio_text_cover {
  transform: translateY(0);
}

.portfolio_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.first_footer_container {
  margin-right: 120px;
}

.footer_web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}
.footer_studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.social_media_footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social_footer_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_icons:hover,
.social_icons:focus {
  background-color: #31d0aa;
}
